@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #dadbd3;
}

.app-body {
    position: relative;
    display: flex;
    background: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    max-width: 1200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.modal {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(104, 99, 99, 0.712);
    animation: transModal .3s;
}

.modal__body {
    border-radius: 5px;
    width: 50%;
    min-width: 360px;
    background-color: #fff;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.loginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(171, 220, 226, 0.75);
    border-radius: 5px;
    padding: 20px;
    margin: 10px
}

.loginRegister-title {
    margin-top: 30px;
    font-weight: 300;
}

.loginRegister__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginRegister__form input {
    border: none;
    outline-width: 0;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
}

.loginRegister__form input[type="submit"] {
    cursor: pointer;
    background-color: rgb(170, 169, 169);
    color: #fff;
}

.loginRegister p {
    cursor: pointer;
    margin-top: 5px;
}

.mernChatLive {
    width: 100%;
}

.mernChatLive__container {
    /* width: 100%; */
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 0, 85% 100%, 15% 100%, 0 0);
    text-align: center;
    padding: 10px;
}

.mernChatLive__container img {
    max-width: 100%;
    height: auto;
}

.mernChatLive__container h4 {
    letter-spacing: 15px;
    margin-right: -15px;
}

.mernChatLive__container h2 {
    font-size: 60px;
    letter-spacing: 45px;
    margin-right: -45px;
}

.mernChatLive__container h3 {
    display: inline-block;
    font-size: 50px;
    letter-spacing: 20px;
    background-color: red;
    color: white;
    padding: 10px 0px 10px 20px;
    border: 2px solid gray;
    border-radius: 5px;
    
}

@keyframes transModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 700px) {
    .app-body {
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        border-radius: 0;
    }

    .mernChatLive__container h2 {
        font-size: 60px;
        letter-spacing: 25px;
        margin-right: -25px;
    }
}