@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #dadbd3;
}

.app-body {
    display: flex;
    background: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
} 