.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 2;
    
}

.chat__header {
    padding: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__header p {
    overflow: hidden;
}

.chat__headerInfo h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo p {
    color: gray;
}


.chat__body {
    flex: 1;
    height: 100%;
    background-color: #9cc2ca;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 25px;
    overflow: scroll;
}

.chatRef-emptyDiv {
    margin: 0;
    padding: 0;
}

.message__container {
    position: relative;
    width: fit-content;
    max-width: 75%;
}

.message__container img {
    max-height: 150px;
    max-width: 100%;
    border-radius: 10px;
}

.user_chat {
    margin-left: auto;
}

.no_message {
    margin-bottom: 25px;
}

.push-imageRight {
    margin-left: 100%;
    transform: translateX(-100%);
}

/* OLD CSS */

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background: #ffffff;
    margin: 0 0 30px 0;
}

.chat__message img {
    max-height: 150px;
    max-width: 100%;
}

.chat__reciever {
    margin-top: 0px;
    margin-left: auto;
    background: rgb(210, 245, 170);
    text-align: right;
}

/* .text__reciever {
    background: rgb(210, 245, 170) important!;
    text-align: right important!;
} */

.chat__timestamp {
    position: absolute;
    font-size: xx-small;
    width: max-content;
    bottom: -12px;
    margin: 0 5px;
}

.chat__name {
    position: absolute;
    top: -12px;
    left: 0;
    margin-left: 5px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    z-index: 2;
}

.chat__footer form {
    flex: 1;
    display: flex;
}

.chat__footer form input {
    flex: 1;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    outline-width: 0;
}

.chat__footer form button {
    display: none;
}

.chat__footer .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.emoji-display-button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.chat__emoji-container {
    position: relative;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0px;
}

.show-emojis {
    height: 55px;
    animation: expand-emojis .3s linear;
}

.shrink-emojis {
    height: 0px;
    animation: shrink-emojis .3s linear;
}

.chat__emoji-body {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 10px;
    margin: 5px;
    background: #ffffff;
    border-radius: 5px;
}

.emoji_wrapper {
    cursor: pointer;
}

.footer__ImageContainer {
    display: flex;
    justify-content: space-evenly;
}

.footer__ImageContainer img {
    display: block;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}

.previewImgContainer {
    position: relative;
}

.previewImgContainer svg {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

@keyframes expand-emojis {
    from {
        height: 0px;
    }
    to {
        height: 55px;
    }
}

@keyframes shrink-emojis {
    from {
        height: 55px;
    }
    to {
        height: 0px;
    }
}

/* @media only screen and (max-width: 960px) {
    .chat {
        animation: slide-out 0.3s linear 0.4s both;
    }
}

@media only screen and (min-width: 960px) {
    .chat {
        animation: slide-in 0.3s linear 0.4s both;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        flex: 0.65
    }
    to {
        transform: translateX(-100%);
        flex: 1
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
} */