.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0.35;
    z-index: 10;
}

.fadeIn {
    animation: slide-in linear 0.3s both;
}

.fadeOut {
    animation: slide-out linear .3s both;
}

.sidebar__toggle {
  opacity: .50;
  position: absolute !important;
  background: rgba(128, 128, 128, 0.411) !important;
  top: 45%;
  right: -24px;
}

.sidebar__toggle:hover {
    opacity: .8;
    background: rgba(128, 128, 128, 0.61) !important;
}

.sidebar__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ededed;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.user__account {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 70px;;
    left: 5px;
    background-color: white;
    height: 110px;
    width: 200px;
    border: 1px solid teal;
    border-radius: 5px;
    z-index: 2;
    padding: 20px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    
}

.account_visible {
    display: flex;
    /* transition: opacity .25s ease-in-out; */
}

.user__account svg {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.user__account .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  height: 75px;
}

.user__account button {
    background:  #9cc2ca;
    margin-top: 10px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__searchContainer button {
    margin-left: auto;
    padding: 0;
}

.sidebar__searchContainer input {
    border: none;
    outline-width: 0;
    margin-left: 0;
}

.sidebar__chats {
    flex: 1;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebar__spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background: #ebebeb;
}

.sidebarChat__info h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px
}

.sidebarChat__last {
    display: flex;
}

.sidebar__noRooms {
    padding: 5px;
    text-align: center;
}

/* @media only screen and (max-width: 960px) {
    .sidebar {
        animation: slide-out .3s linear .3s both;
    }
}

@media only screen and (min-width: 960px) {
    .sidebar {
        animation: slide-in 0.3s linear 0.3s both;
    }
} */

@keyframes slide-out {
    0% {
        transform: translateX(0);
        position: relative;
    }
    10% {
        position: absolute;
        height: 100%;
    }
    100% {
        transform: translateX(-100%);
        position: absolute;
        height: 100%;
    }
}

/* @keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.10);
    }
    to {
        opacity: 1;
        transform: scale(1);

    }
} */

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        position: absolute;
        height: 100%
    }
    90% {
        position: absolute;
        height: 100%;
    }
    100% {
        transform: translateX(0);
        position: relative;
    }
}

@media only screen and (max-width: 650px) {
    .sidebar {
       position: absolute !important;
       height: 100vh;
    }
} 